.main-content {
    margin-top: 10%;
}

.contact-container {
    background-color: white;
    padding: 30px;
    width: 80%;
    margin: auto;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.title {
    color: #ff3b34;
    margin-bottom: 30px;
    font-size: 2em;
    font-weight: 600;
    text-align: center;
}

.contact-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.contact-info {
    flex: 1;
    margin-right: 20px;
}

.contact-item {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.contact-icon {
    width: 60px;
    height: 60px;
    margin-right: 20px;
    border-radius: 50%;
    background-color: #fff;
    padding: 10px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
    transition: transform 0.2s ease-in-out;
}

.contact-icon:hover {
    transform: scale(1.1);
}

.contact-item p {
    font-size: 18px;
    font-weight: bold;
    color: #333;
    transition: color 0.2s ease-in-out;
}

.contact-item:hover p {
    color: #FF5751;
}

.contact-image {
    flex: 1;
    text-align: center;
}

.contact-image img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

@media (max-width: 768px) {
    .contact-section {
        flex-direction: column;
        align-items: flex-start;
    }

    .contact-info {
        margin-right: 0;
        margin-bottom: 20px;
    }

    .contact-image {
        text-align: center;
    }
}